@import "../../../node_modules/bulma/bulma";

.animate-fade-in > * {
  -webkit-animation: fade 0.75s;
  animation: fade 0.75s;
}

#point-down {
  @include arrow($white);
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
