@import "../../../node_modules/bulma/bulma";

$color-main: hsl(0, 0%, 48%) !default;
$color-accent1: #FF7C6B;
$color-accent2: #FFD26B;

.color-grey {
  background-color: $grey;
}

.color-red {
  background-color: $red;
}

.color-orange {
  background-color: $orange;
}

.color-greydark {
  background-color: $grey-dark;
  color: $white
}

.animate-fade-in > * {
  -webkit-animation: fade 0.75s;
  animation: fade 0.75s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
